@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&family=Lobster&display=swap');

:root {
  --primary-color: #59859d;
  --secondary-color: #96ccce;
  --background-color: #f5f6fb;
  --orange-color: #ff8400;
  --light-color: #d5d6da;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

header {
  position: relative;
  height: 350px;
  padding: 5px;
  text-align: center;
}

header::after {
  content: '';
  position: absolute;
  background: url(images/header-background.jpg) no-repeat center center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}

h1 {
  text-shadow: 1px solid #fff;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  color: var(--orange-color);
}
