@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Lobster&display=swap');

:root {
  --primary-color: #8c9094;
  --secondary-color: #b5b7b7;
  --orange-color: #fc9c48;
  --dark-color: #5f5f5f;
  --light-color: #e9ebeb;
  --shadow-color: #d0d0d0;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

header {
  position: relative;
  height: 320px;
  padding: 5px;
  text-align: center;
}

header::after {
  content: '';
  position: absolute;
  background: url(images/header-unsplash.jpg) no-repeat center center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

h1 {
  margin-top: 50px;
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
    2px 2px 0 #fff;
}

.logo {
  margin-bottom: 0;
  font-family: 'Lobster', cursive;
  font-size: 4.5rem;
  color: var(--orange-color);
}

.searchWrap {
  margin-top: 80px;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchForm {
  width: 100%;
  position: relative;
  display: flex;
  box-shadow: 1px 1px 6px var(--shadow-color);
  border-radius: 5px;
}

.searchTerm {
  width: 100%;
  border: 0;
  border-right: none;
  padding: 12px;
  padding-left: 22px;
  height: 46px;
  border-radius: 5px;
  outline: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--primary-color);
}

.searchTerm:focus {
  color: var(--dark-color);
}

.searchButton {
  width: 55px;
  height: 46px;
  border: 0;
  background: var(--primary-color);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  opacity: 0.6;
}

.randomSearchWrap {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.randomSearchWrap p {
  margin: 0;
  padding-right: 8px;
  color: var(--dark-color);
}

.random-btn {
  height: 28px;
  background-color: var(--orange-color);
  color: #fff;
  box-shadow: 1px 1px 6px var(--secondary-color);
  font-size: 16px;
}

.random-btn:active {
  transform: scale(0.9);
}

.result {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.result h3,
p {
  margin-top: 30px;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  color: var(--secondary-color);
}

.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.meal {
  cursor: pointer;
  height: 300px;
  width: 230px;
  text-align: center;
  border: 1px solid var(--light-color);
  border-radius: 5px;
  box-shadow: 1px 1px 8px var(--light-color);
}

.meal:hover {
  box-shadow: 2px 2px 12px var(--shadow-color);
}

.meal:active {
  transform: scale(0.99);
}

.meal img {
  width: 85%;
  margin-top: 16px;
  border-radius: 5px;
}

.meal-info h3 {
  margin: 6px;
  padding: 5px;
  color: var(--primary-color);
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 200;
}
