header {
  position: relative;
  height: 260px;
  margin-bottom: 60px;
  text-align: center;
  border-bottom: 2px solid var(--light-color);
}

h1 {
  margin-top: 40px;
}

.logo a {
  margin-bottom: 0;
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
  color: var(--orange-color);
}

.searchWrap {
  margin-top: 30px;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchForm {
  width: 100%;
  position: relative;
  display: flex;
  box-shadow: 1px 1px 6px var(--shadow-color);
  border-radius: 5px;
}

.searchTerm {
  width: 100%;
  border: 0;
  border-right: none;
  padding: 12px;
  padding-left: 22px;
  height: 46px;
  border-radius: 5px;
  outline: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--primary-color);
}

.searchTerm:focus {
  color: var(--dark-color);
}

.searchButton {
  width: 55px;
  height: 46px;
  border: 0;
  background: var(--light-green);
  text-align: center;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  opacity: 0.6;
}

.randomSearchWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: var(--dark-color);
}

.randomSearchWrap p {
  margin: 0;
  padding-right: 8px;
  color: var(--dark-color);
}

.random-btn {
  height: 28px;
  background-color: var(--orange-color);
  color: #fff;
  box-shadow: 1px 1px 6px var(--secondary-color);
  font-size: 16px;
}

.random-btn:active {
  transform: scale(0.9);
}

.list-categories {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  justify-content: center;
  align-content: center;
}

.list-categories li {
  width: 120px;
  height: 120px;
  margin: 14px;
  padding: 8px 6px 0 6px;
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 1.3rem;
  color: var(--primary-dark-color);
  background-color: var(--light-green);
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 1px 1px 6px var(--shadow-color);
}

.list-categories li:hover {
  color: #fff;
  background-color: var(--dark-green);
}

.list-categories img {
  display: block;
  margin: auto;
  margin-top: 4px;
  width: 100px;
}

.result {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.result h3,
p {
  margin-top: 30px;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  color: var(--secondary-color);
}

.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.meal {
  cursor: pointer;
  height: 300px;
  width: 230px;
  text-align: center;
  border: 1px solid var(--light-color);
  border-radius: 5px;
  box-shadow: 1px 1px 8px var(--light-color);
}

.meal:hover {
  box-shadow: 1px 1px 18px var(--shadow-color);
}

.meal:hover .meal-info h3 {
  color: var(--orange-color);
}

.meal:active {
  transform: scale(0.99);
}

.meal img {
  width: 85%;
  margin-top: 16px;
  border-radius: 5px;
}

.meal-info h3 {
  margin: 6px;
  padding: 5px;
  color: var(--primary-color);
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 200;
}
